# ==========================================
# CONFIGURACIÓN DEL SERVIDOR Y BASE DE DATOS
# ==========================================

PORT=3000

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=tu_contrasena_de_mysql
DB_NAME=tronos_db
DB_PORT=3306
